* {
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    list-style: none;
}

img {
    object-fit: cover;
}

#chart {
    border: 1px solid #aaa;
    width: 800px;
    height: 400px;
}

#modify-zone {
    width: 800px;
    height: 600px;
    position: relative;
}

#draw-box {
    border: 1px solid #aaa;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
}

#text-input {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    background-color: #eaeaea;
    /* display: none; */
}